.card-content {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 16px;
    box-shadow: 4px 3px 9px rgba(0, 0, 0, 0.1);
    transition: all ease 0.35s;
    position: relative;
    &.posts{
        &:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.1);
            transform: translateY(-2px);
        }
    }
    p {
        margin: 0px;
    }
    .title {
        font-size: 24px;
        font-weight: bold;
    }
    .date {
        font-size: 12px;
    }
    .content {
        margin-top: 20px;
        font-size: 14px; 
    }
    .delete-btn {
        width: 30px;
        height: 30px;
        background: red;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: white;
        position: absolute;
        top: -15px;
        right: -15px;
        &:hover {
            cursor: pointer;
        }
    }
}