.save-btn {
    padding: 12px 50px;
    border-radius: 4px;
    background: white;
    border: 2px solid green;
    color: green;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    &.cancel {
        border: 2px solid orange;
        color: orange;
    }
}